@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Silkscreen", sans-serif;
  list-style: none;
}
a, a:visited, a:active {
  text-decoration: none;
  color: wheat;
}
body {
  background: radial-gradient(ellipse at bottom, #1b2735, #090a0f);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hase {
  width: 130px;
  height: 130px;
  position: relative;
  animation: move 2s linear infinite;
  right:-50%
}
.hase div {
  background-color: wheat;
  position: absolute;

}
.hear1 {
  top: 10px;
  left: 20px;
  width: 15px;
  height: 25px;
  border-radius: 50% 50% 0 0;
}
.hear2 {
  top: 12px;
  left: 40px;
  width: 15px;
  height: 25px;
  border-radius: 50% 50% 0 0;
}
.hase .eye1 ,
.hase .eye2 {
  top: 45px;
  left: 5px;
  background: white;
  border: 1px solid black;
  z-index: 1;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.hase .eye2 {
  top: 50px;
  left: 35px;
}
.eye1 .p1,
.eye2 .p2 {
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.p1 {
  animation: orbit 1s linear infinite;
}
.p2 {
  animation: orbit 1s linear infinite;
  animation-delay: .5s;
}
.hhead {
  top: 30px;
  width: 70px;
  height: 70px;
  border-radius: 40px;
}
.hbody {
  top: 60px;
  left: 10px;
  width: 90px;
  height: 60px;
  border-radius: 30px;
}
.hbun {
  top: 50px;
  left: 85px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.hleg1 {
  top: 105px;
  left: 20px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}
.hleg2 {
  top: 105px;
  left: 70px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}
@keyframes move {
  0% {top: 0; animation-timing-function: ease-in;}
  16%, 48%, 78% {top: 190px; animation-timing-function: ease-out;}
  32% {top: 50px; animation-timing-function: ease-in;}
  62% {top: 100px; animation-timing-function: ease-in;}
  90% {top: 150px; animation-timing-function: ease-in;}
  100% {top: 190px; animation-timing-function: ease-out; right:50%}

}

@keyframes orbit {
  0% { transform: rotate(0deg) translateX(2px) rotate(0deg); }
  25% { transform: rotate(90deg) translateX(2px) rotate(-90deg); }
  50% { transform: rotate(180deg) translateX(2px) rotate(-180deg); }
  75% { transform: rotate(270deg) translateX(2px) rotate(-270deg); }
  100% { transform: rotate(360deg) translateX(2px) rotate(-360deg); }
}